body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.login_button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login_button:hover {
  background-color: #45a049;
}

.register_button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register_button:hover {
  background-color: #d4d4d4;
}

.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  max-width: 90%;
  height: auto;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.popup .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transform: translate(-50%, -50%) scale(1);
}

#register_popup img {
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
}

#register_popup input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#register_popup .save_button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#register_popup .save_button:hover {
  background-color: #45a049;
}

#register_popup .try_again_button {
  background-color: #af4c4c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#register_popup .try_again_button:hover {
  background-color: #af4c4c;
}
