<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
    <title>Meetings</title>
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li class="welcome-message">Welcome, {{ user_name }}</li>
        <li><a href="{{ url_for('meetings', name=user_name) }}">Meeting</a></li>
        <li>
          <a href="{{ url_for('votation', name=user_name) }}">Votation</a>
        </li>
        <li><a href="{{ url_for('profile', name=user_name) }}">Home</a></li>
      </ul>
    </nav>
    <h1>Meetings Page</h1>
    <video id="video" autoplay></video>
    <div id="meetingParticipants">
      <h2>Meeting Participants</h2>
      <ul id="participantList"></ul>
    </div>
    <p></p>
    <button onclick="startMeeting()">Start Meeting</button>
    <button onclick="stopMeeting()">Stop Meeting</button>
    <script>
      const video = document.getElementById("video");
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (error) {
            console.error("Error accessing the camera:", error);
          });
      }
    </script>
    <script src="{{ url_for('static', filename='script.js') }}?v=6.4"></script>
  </body>
</html>
