<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='script.js') }}?v=4.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
    <title>User Profile</title>
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li class="welcome-message">Welcome, {{ user_name }}</li>
        <li><a href="{{ url_for('meetings', name=user_name) }}">Meeting</a></li>
        <li>
          <a href="{{ url_for('votation', name=user_name) }}">Votation</a>
        </li>
        <li><a href="{{ url_for('profile', name=user_name) }}">Home</a></li>
      </ul>
    </nav>
    <h1>User Profile</h1>
    <div id="user_profile"></div>
    <!-- Add more content as needed for the user profile -->
  </body>
</html>
