<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='script.js') }}?v=4.1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
    <title>Votaion</title>
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li class="welcome-message">Welcome, {{ user_name }}</li>
        <li><a href="{{ url_for('meetings', name=user_name) }}">Meeting</a></li>
        <li>
          <a href="{{ url_for('votation', name=user_name) }}">Votation</a>
        </li>
        <li><a href="{{ url_for('profile', name=user_name) }}">Home</a></li>
      </ul>
    </nav>
    <h1>Votation Page</h1>
    <video id="video" autoplay></video>
    <p>Rate the website:</p>
    <select id="votationRating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <!-- Add options up to 10 -->
      <option value="5">5</option>
    </select>
    <button id="submit_votation_button" onclick="submitVotation()">
      Submit Votation
    </button>
    <script>
      setInterval(performFaceRecognition, 20000);
      const video = document.getElementById("video");
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (error) {
            console.error("Error accessing the camera:", error);
          });
      }
    </script>
  </body>
</html>
